/*
* Google Font Imports
* Importing different fonts from Google Fonts for use throughout the website.
*/
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Caesar+Dressing&family=Jim+Nightshade&family=Rancho&display=swap");

/*
* Root Styles
* Defining global styling variables that can be reused across the CSS. This includes fonts and color definitions.
*/
:root {
  /* fonts */
  --title: "Caesar Dressing", serif;
  --sub-title: "Jim Nightshade", serif;
  --main-font: "Andika", serif;
  --result-text: "Rancho", serif;

  /* colors */
  --background: #324b4c;
  --game-container: #f5f5f5;
  --primary: #d8a66c;
  --text: #242335;
  --player-icons: #0046a4;
  --computer-icons: #b20710;
  --feedback-button: #05c19c;
  --selection: #7e0684;
}

/*
* Global Styles
* Applying global styles to HTML and body. This includes box-sizing and background color.
*/
html {
  box-sizing: border-box;
}
/*  */
body {
  /* margin: 0; */
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
* Game Container Styles
* Styling the main game container. This includes width, height, background color, and box shadow.
*/
.game-container {
  width: 530px;
  height: 600px;
  background-color: var(--game-container);
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

/*
* Header Styles
* Styling the header of the game including background color, border radius, height, and centering of items.
*/
div.header {
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text);
  font-size: 2.5em;
  font-family: var(--title);
}

.player-container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
  font-family: var(--sub-title);
  font-size: 2em;
}

.fa-sharp {
  font-size: 2.7em;
  user-select: none;
  margin-right: 1em;
}

#player .fa-sharp,
#player .choice {
  color: var(--player-icons);
  cursor: pointer;
}

#player .fa-sharp:last-of-type,
#computer .fa-sharp:last-of-type {
  margin-right: 0;
}

.selected {
  color: var(--selection) !important;
}

#computer > i,
#computer .choice {
  color: var(--computer-icons);
}

#footer-panel {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.reset-container {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

#reset-icon {
  line-height: unset;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
  font-family: var(--result-text);
}

/* Confetti positioning */
#confetti-canvas {
  position: absolute;
  z-index: -1;
}

/*Rules Modal Code Snippet modified from the source: https://www.w3schools.com/howto/howto_css_modals.asp  */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4.5em auto; /* 4.5em from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
}

/* Modal Diagram Settings */
#gameplay-diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameplay-diagram img {
  width: 50%;
  height: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Rules Modal Button code snippet modified from the source button24 by Nomad List: https://getcssscan.com/css-buttons-examples   */
#rulesBtn {
  background: var(--text);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 12px 14px;
  text-align: center;
}

#rulesBtn:hover {
  background-color: var(--feedback-button);
  color: var(--text);
}

/* Rules Modal Text */
.modal-content h2 {
  font-size: 2.3em;
}

.rules-text ul {
  font-size: 1.2em; /* To make text slightly bigger */
  line-height: 1.5em; /* To increase the space between list bullet points */
  font-family: var(--main-font);
}

/* Adjusting Text Alignment for Rule - Settings */
.rules-text li {
  max-width: 30em;
  text-align: justify;
}

/*
* Media Queries
* Adjusting the layout and sizing of elements for different screen sizes.
*/

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .player-container {
    margin: 50px 0 25px 25px;
  }

  .fa-sharp {
    margin-right: 20px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: Smartphone (Vertical) */
@media screen and (max-width: 451px) {
  #gameplay-diagram {
    width: 100%;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .player-container {
    margin: 43px 0 25px 20px;
  }

  .fa-sharp {
    font-size: 22px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-container {
    margin: 0 20px;
  }
}
